<div class="row text-white text-center">
  <div class="col-md-12 bg_primary pt-5">
    <div class="row">
      <div class="col-md-4">
        <h4>LOCATION</h4>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col-md-4">
        <h4>AROUND THE WEB</h4>
        <div class="icons">
          <i class="fa-brands fa-facebook p-1 m-2 icon"></i>
          <i class="fa-brands fa-twitter p-1 m-2 icon"></i>
          <i class="fa-brands fa-linkedin p-1 m-2 icon"></i>
          <i class="fa-solid fa-globe p-1 m-2 icon"></i>
        </div>
      </div>
      <div class="col-md-4">
        <h4>ABOUT FREELANCER</h4>
        <p>Freelance is a free to use, licensed Bootstrap</p>
        <p>theme created by Route</p>
      </div>
    </div> 
  </div>
<div class="col-md-12 bg_footer pt-2">
    <p>Copyright <i class="fa-regular fa-copyright"></i> Your Website 2021</p>
  </div> 
  
</div>
