.navbar{
    background-color: #2C3E50;
}
.navbar-brand{
    font-size: 32px;
}

.logo{
font-size: 35px;
color:#FFFFFF;
background:#2C3E50;
font-weight: 700;
}
.active{
    background:#1ABC9C;
    border-radius: 15px;
    transition: all 2s;
    /* width: fit-content; */
}
.navbar{
    transition: all 2s;
   
}
